@import "tailwindcss";

@theme {
  --color-primary: var(--primary);
  --color-primary-hover: var(--primary-hover);

  --color-base: var(--base); /* The main app background */
  --color-surface: var(--surface); /* The background of cards */
  --color-content: var(--content); /* Main text color */
  --color-content-muted: var(--content-muted); /* Subtitles, dates, borders */
}

@layer base {
  /* Light Mode */

  :root {
    --primary: #ff3535;
    --primary-hover: #ca0c0c;

    --base: #f9fafb;
    --surface: #ffffff;
    --content: #111827;
    --content-muted: #c0c3c9;
  }

  /* Dark Mode */

  :root.dark {
    --primary: #ff3535;
    --primary-hover: #ca0c0c;
    --base: #282829;
    --surface: #202024;
    --content: #fcfcfc;
    --content-muted: #4b4c4e;
  }
}
